<?php
print <<<EOBODY
<body>
<div id='outer-wrapper'>
	<div id='wrap2'>
		<!-- skip links for text browsers --> 
		<span id='skiplinks' style='display: none;'> 
			<a href='#main'>skip to main </a>
			<a href='#sidebar'>skip to sidebar</a> 
		</span>

		<div id='header-wrapper'>
			<div class='header section' id='header'></div>
		</div>

		<div id='content-wrapper'>

			<div id='main-wrapper'>
				<div class='main section' id='main'>
					<div class='widget Blog' id='Blog1'>
						<div class='blog-posts hfeed'>
EOBODY;

$TMP_post = array();
foreach($BODY_posts as $TMP_post)
{ 
	print <<<EOBODY
						
							<!-- google_ad_section_start -->
							<h2 class='date-header'>$TMP_post[dt_postdate]</h2>
							
							<!--Post start-->
							<div class='post uncustomized-post-template'>
								<a name='6845352070128220716'></a>
								<h3 class='post-title'><a href='#'>$TMP_post[s_posttitle]</a></h3>
								
								<div class='post-header-line-1'></div>

								<div class='post-body'>
									<p>$TMP_post[tb_post]</p>
									
									<div style='clear: both;'></div>
								</div>
								
								<div class='post-footer'>
									<p class='post-footer-line post-footer-line-1'>
										<span class='post-author'> 发贴者 Ci Bech </span>
										<span class='post-timestamp'>时间&#65306;
											<a class='timestamp-link' href='#' title='permanent link'>$TMP_post[c_posttime]</a>
										</span>
										<span class='post-comment-link'> 
											<a class='comment-link'	href='#' onclick=''>0评论</a>
										</span>
										<span class='post-backlinks post-comment-link'> The permer links </span> 
										<span class='post-icons'>
											<span class='item-control blog-admin pid-709660667'>
												<a href='#'	title='Edit Post'>
													<span class='quick-edit-icon'>&#160;</span>
												</a>
											</span>
										</span>
									</p>

									<p class='post-footer-line post-footer-line-2'>
										<span class='post-labels'> Post Labels </span>
									</p>
									
									<p class='post-footer-line post-footer-line-3'>Post Line 3</p>
								
								</div>
							</div>
							<!--Post end-->

EOBODY;
}
print <<<EOBODY

							<h2 class='date-header'>2009年6月15日 星期2</h2>
							<!--Post start-->
							<div class='post uncustomized-post-template'>
								<a	name='6845352070128220716'></a>
								<h3 class='post-title'><a href='#'>视频的插入效果</a></h3>
							
								<div class='post-header-line-1'></div>
							
								<div class='post-body'>
									<p>This is the post body, post as much thing here as you could!</p>
									<div style='clear: both;'></div>
								</div>
							
								<div class='post-footer'>
									<p class='post-footer-line post-footer-line-1'>
										<span class='post-author'> 发贴者 Ci Bech </span> 
										<span class='post-timestamp'>时间&#65306; 
											<a class='timestamp-link' href='#' title='permanent link'>00:35</a>
										</span>
										<span class='post-comment-link'>
											<a class='comment-link'	href='#' onclick=''>0评论</a>
										</span>
										<span class='post-backlinks post-comment-link'> The permer links </span>
										<span class='post-icons'>
											<span class='item-control blog-admin pid-709660667'>
												<a href='#'	title='Edit Post'><span class='quick-edit-icon'>&#160;</span></a>
											</span>
										</span>
									</p>

									<p class='post-footer-line post-footer-line-2'>
										<span class='post-labels'>
											<a href='#' rel='tag'>杂事</a>
										</span>
									</p>
									
									<p class='post-footer-line post-footer-line-3'>Post Line 3</p>
								
								</div>
							</div>
							<!--Post end-->					
							<!-- google_ad_section_end -->
						</div>
						
						<div id='blog-pager'>
							<a href='#' id='blog-pager-older-link' title='较旧的帖子'>较旧的帖子&#65288;前一篇&#65289;</a>
							<a href='#'	id='blog-pager-newer-link' title='较新的帖子'>较新的帖子&#65288;后一篇&#65289;</a>
							<a class='home-link' href='#'>返回首页</a>
						</div>
						
						<div class='blog-feeds'>
							<div class='feed-links'>

							</div>
						</div>


					</div>
				</div>
			
			</div>

			<div id='sidebar-wrapper'>
			
				<div class='sidebar section' id='sidebar'>
					<div class='widget Label' id='Label1'>
						<h2>标签</h2>

						<div class='widget-content'>
							<ul>
								<li><a href='#'>动漫</a>(7)</li>
								<li><a href='#'>杂事</a>(21)</li>
								<li><a href='#'>计算机与网络</a>(10)</li>
							</ul>

							<div class='clear'></div>
						</div>
					</div>

					<div class='widget BlogArchive' id='BlogArchive1'>
						<h2>博客归档</h2>
						
						<div class='widget-content'>
							<div id='ArchiveList'>
								<div id='BlogArchive1_ArchiveList'>
									<ul>
										<li class='archivedate expanded'>
											<a class='toggle' href='#'><span class='zippy toggle-open'>&#9660;</span></a>
											<a class='post-count-link' href='#'>2009</a>(<span class='post-count'>3</span>)
												<ul>
													<li class='archivedate expanded'>
														<a class='toggle' href='#'><span class='zippy toggle-open'>&#9660;</span></a>
														<a class='post-count-link' href='#'>六月</a>(<span class='post-count'>1</span>)
															<ul class='posts'>
																<li><a href='#'>视频的插入效果</a></li>
															</ul>
													</li>
												</ul>
										</li>
									</ul>
								</div>
							</div>

							<div class='clear'></div>
				
						</div>
					</div>
					
					<div class='widget BloggerButton' id='BloggerButton2'>
						<h2>订阅</h2>
						<div class='widget-content'>
							<p id="blogfeeds"><a target="_blank" href="$GLB_root_url/feed/atom.php" type="application/atom+xml"><img src="$GLB_root_url/img/rss.png"></a></p>
							
							<div class='clear'></div>
						</div>
					</div>
					
					<div class='widget BloggerButton' id='BloggerButton1'>
						<div class='widget-content'>
							<a href='http://www.blogger.com'><img alt='Powered By Blogger' src='$GLB_root_url/img/blogger-ipower-kahki.gif' /></a>
							
							<div class='clear'></div>
						</div>
					</div>
					
					
				</div>
			
			</div>

			<!-- spacer for skins that want sidebar and main to be the same height-->
			<div class='clear'>&#160;</div>
		
		</div><!-- end content-wrapper -->
		
		<div id='footer-wrapper'>
			<div class='footer section' id='footer'></div>
		</div>
	</div><!-- end wrap2 -->
</div><!-- end outer-wrapper -->
</body>
EOBODY;
?>