<?php

$UI_PARAM_TAG = $BODY_tag_name;
$UI_PARAM_HOME = $GLB_root_url;

$BODY_str_showalltags = str_replace('UI_PARAM_TAG', $UI_PARAM_TAG, $BODY_str_showalltags);
$BODY_str_showalltags = str_replace('UI_PARAM_HOME', $UI_PARAM_HOME, $BODY_str_showalltags);

print <<<EOBODY
<body>
<div id='outer-wrapper'>
	<div id='wrap2'>
		<!-- skip links for text browsers --> 
		<span id='skiplinks' style='display: none;'> 
			<a href='#main'>skip to main </a>
			<a href='#sidebar'>skip to sidebar</a> 
		</span>

		<div id='header-wrapper'>
			<div class='header section' id='header'></div>
		</div>

		<div id='content-wrapper'>

			<div id='main-wrapper'>
				<div class='main section' id='main'>
					<div class='widget Blog' id='Blog1'>
						<div class='blog-posts hfeed'>
						
							<div class='status-msg-wrap'>
								<div class='status-msg-body'>
									$BODY_str_showalltags
								</div>

								<div class='status-msg-border'>
									<div class='status-msg-bg'>
										<div class='status-msg-hidden'>
										$BODY_str_showalltags
										</div>
									</div>
								</div>
							</div>
							<div style='clear: both;'></div>

EOBODY;

$TMP_post = array();

foreach($BODY_posts as $TMP_post)
{ 
	$TMP_tags_html = '';
	$TMP_post_link = "$GLB_root_url/showpost.php?pid=$TMP_post[i_postid]";
	
	foreach($BODY_tags[$TMP_post['i_postid']] as $TMP_taglink_id=>$TMP_post_tags)
	{
		$TMP_tags_html .= "&nbsp;<a href='$GLB_root_url/showtag.php?tagid=$TMP_taglink_id' rel='tag'>$TMP_post_tags</a>&nbsp;";
	}
	print <<<EOBODY
						
							<!-- google_ad_section_start -->
							<h2 class='date-header'>$TMP_post[dt_postdate]</h2>
							
							<!--Post start-->
							<div class='post uncustomized-post-template'>
								<a name='$TMP_post[s_posturi]'></a>
								<h3 class='post-title'><a href='$TMP_post_link'>$TMP_post[s_posttitle]</a></h3>

								<div class='post-header-line-1'></div>

								<div class='post-body'>
									<p>$TMP_post[tb_post]</p>

									<div style='clear: both;'></div>
								</div>

								<div class='post-footer'>
									<p class='post-footer-line post-footer-line-1'>
										<span class='post-author'>$BODY_str_poster $TMP_post[s_user_name]</span>
										<span class='post-timestamp'>$BODY_str_time
											<a class='timestamp-link' href='$TMP_post[s_posturi]' title='permanent link'>$TMP_post[c_posttime]</a>
										</span>
										<span class='post-comment-link'> 
											<a class='comment-link'	href='comments.php?$TMP_post[i_postid]' onclick=''>$TMP_post[i_cmcount] $BODY_str_comments</a>
										</span>
										<span class='post-backlinks post-comment-link'><!--Permernent Link--></span> 
										<span class='post-icons'>
											<span class='item-control blog-admin pid-$TMP_post[s_posturi]'>
												<a href='#'	title='Edit Post'>
													<span class='quick-edit-icon'><!--This links to edit the post--></span>
												</a>
											</span>
										</span>
									</p>

									<p class='post-footer-line post-footer-line-2'>
										<span class='post-labels'>$BODY_str_labels
											$TMP_tags_html
										</span>
									</p>

									<p class='post-footer-line post-footer-line-3'><!--The third line of the bottom post--></p>

								</div>
							</div>
							<!--Post end-->

EOBODY;
}

$BODY_nextpager_html = ($BODY_isnot_top ? "<a href='$GLB_root_url/showtag.php?tagid=$TAG_tag_id&is_next=0&tmstp=$BODY_timestamp_top' id='blog-pager-newer-link' title='$BODY_str_next'>$BODY_str_next</a>" : '');
$BODY_prevpager_html = ($BODY_isnot_bottom ? "<a href='$GLB_root_url/showtag.php?tagid=$TAG_tag_id&is_next=1&tmstp=$BODY_timestamp_bottom' id='blog-pager-older-link' title='$BODY_str_prev'>$BODY_str_prev</a>" : '');
$BODY_homepager_html = ($BODY_isnot_top || $BODY_isnot_bottom ? "<a class='home-link' href='$GLB_root_url'>$BODY_str_home</a>" : '');

print <<<EOBODY

							<!-- google_ad_section_end -->
						</div>
						
						<div id='blog-pager'>
							$BODY_nextpager_html
							$BODY_prevpager_html
							$BODY_homepager_html
						</div>
						
						<div class='blog-feeds'>
							<div class='feed-links'><!--If you like feed links, place it here--></div>
						</div>

					</div>
				</div>
			
			</div>

			<div id='sidebar-wrapper'>
			
				<div class='sidebar section' id='sidebar'>
					<div class='widget Label' id='Label1'>
						<h2>$BODY_str_labels</h2>

						<div class='widget-content'>
							<ul>
EOBODY;

$TMP_tags_total = array();

foreach($BODY_tags_total as $TMP_tags_total)
{	
	print <<<EOBODY
								
								<li><a href='$GLB_root_url/showtag.php?tagid=$TMP_tags_total[i_tagid]'>$TMP_tags_total[s_tagname]</a>($TMP_tags_total[i_tgcount])</li>

EOBODY;
}

print <<<EOBODY
							</ul>

							<div class='clear'></div>
						</div>
					</div>

					<div class='widget BlogArchive' id='BlogArchive1'>
						<h2>$BODY_str_blogarchive</h2>
						
						<div class='widget-content'>
							<div id='ArchiveList'>
								<div id='BlogArchive1_ArchiveList'>
									<ul>
EOBODY;

$TMP_title_year_total = array();
$TMP_title_month_total = array();

//Set the first Month to be open
$TMP_istoggle_top = TRUE;

foreach($BODY_title_total as $TMP_year=>$TMP_title_year_total)
{	
	//Count the years total posts
	$TMP_year_count = 0;
	
	if($TMP_istoggle_top)
	{
		$TMP_li_class = 'archivedate expanded';
		$TMP_sp_class = 'zippy toggle-open';
		$TMP_toggle_tra = '&#9660;';
	}
	else
	{
		$TMP_li_class = 'archivedate collapsed';
		$TMP_sp_class = 'zippy';
		$TMP_toggle_tra = '&#9658;';
	}

	foreach($BODY_title_count[$TMP_year] as $TMP_month_ctarray)
	{
		$TMP_year_count += array_sum($TMP_month_ctarray);
	}
	
	print <<<EOBODY

										<li id='litg$TMP_year' class='$TMP_li_class'>
											<a class='toggle' href='javascript:doToggle("$TMP_year")'><span id='sptg$TMP_year' class='$TMP_sp_class'>$TMP_toggle_tra</span></a>
											<a class='post-count-link' href='$GLB_root_url/showtime.php?date=$TMP_year'>$TMP_year</a>(<span class='post-count'>$TMP_year_count</span>)
												<ul>
EOBODY;
	
	foreach($TMP_title_year_total as $TMP_month=>$TMP_title_month_total)
	{
		$TMP_month_count = 0;
		$TMP_month_count = array_sum($BODY_title_count[$TMP_year][$TMP_month]);
		
		if($TMP_istoggle_top)
		{
			$TMP_li_class = 'archivedate expanded';
			$TMP_sp_class = 'zippy toggle-open';
			$TMP_toggle_tra = '&#9660;';
		}
		else
		{
			$TMP_li_class = 'archivedate collapsed';
			$TMP_sp_class = 'zippy';
			$TMP_toggle_tra = '&#9658;';
		}
		
		$TMP_month_name = $GLB_date->get_month_name($TMP_month);
		print <<<EOBODY

													<li id='litg$TMP_year$TMP_month' class='$TMP_li_class'>
														<a class='toggle' href='javascript:doToggle("$TMP_year$TMP_month")'><span id='sptg$TMP_year$TMP_month' class='$TMP_sp_class'>$TMP_toggle_tra</span></a>
														<a class='post-count-link' href='$GLB_root_url/showtime.php?date=$TMP_year$TMP_month'>$TMP_month_name</a>(<span class='post-count'>$TMP_month_count</span>)
															<ul class='posts'>			
EOBODY;

		//Turn to Second Month
		$TMP_istoggle_top = FALSE;
		
		foreach($TMP_title_month_total as $TMP_title)
		{
		
			$TMP_post_link = "$GLB_root_url/showpost.php?pid=$TMP_title[i_postid]";
			print <<<EOBODY

																<li><a href='$TMP_post_link'>$TMP_title[s_posttitle]</a></li>
EOBODY;
		}
		
		print <<<EOBODY

															</ul>
													</li>
EOBODY;
	}
	
	print <<<EOBODY

												</ul>
										</li>
EOBODY;
}

print <<<EOBODY

																			
									</ul>
								</div>
							</div>

							<div class='clear'></div>
				
						</div>
					</div>
					
					<div class='widget BloggerButton' id='BloggerButton2'>
						<h2>$BODY_str_feed</h2>
						<div class='widget-content'>
							<p id="blogfeeds"><a target="_blank" href="$GLB_root_url/feed/atom.php" type="application/atom+xml"><img src="$GLB_root_url/img/rss.png"></a></p>
							
							<div class='clear'></div>
						</div>
					</div>
					
					<div class='widget BloggerButton' id='BloggerButton1'>
						<div class='widget-content'>
							<a href='http://www.blogger.com'><img alt='Powered By Blogger' src='$GLB_root_url/img/blogger-ipower-kahki.gif' /></a>
							
							<div class='clear'></div>
						</div>
					</div>
					
					
				</div>
			
			</div>

			<!-- spacer for skins that want sidebar and main to be the same height-->
			<div class='clear'>&#160;</div>
		
		</div><!-- end content-wrapper -->
		
		<div id='footer-wrapper'>
			<div class='footer section' id='footer'></div>
		</div>
	</div><!-- end wrap2 -->
</div><!-- end outer-wrapper -->
</body>
</html>
EOBODY;
?>